@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";
@import './styles/fonts.css';
@import './styles/tailwind.css';
@import './styles/theme.css';

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}